/*Estilo general pagina principal*/

li a {
    padding: 14px 16px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  body {
    margin: 0;
  }
  
  .divisor {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .container {
    text-align: center;
  }
  
  .divisor ul li a:hover {
    background-color: rgb(63, 63, 63);
  }
  
  nav ul li {
    font-family: 'Inter', sans-serif;
    margin: 10px 10px;
    border-right: 2px #000;
  }
  
  .encabezado {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(63, 136, 197, 1) 0%, rgba(77, 77, 77, 1) 100%);
  }